<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Guia para adição de um novo mineral</h1><hr>
        <div class=row>
            <div class="col-10">
                    <h4>Informações Gerais</h4>
                    <p><strong>ATENÇÃO</strong> - verifique todas as observações antes de adicionar o mineral, após enviado o mesmo só pode ser editado pela equipe técnica responsável </p>
                    <p>Todos os minerais adicionados passarão por uma análise, e se necessário, por correções antes de serem aprovados</p>
                    <h3 class="text-center">Observações</h3>
                    <h4>Campo de fotos</h4>
                    <ul>
                        <li>Primeira foto, <strong>macro</strong></li>
                        <li>Segunda foto,<strong> microscopia PPL (luz plano polarizada)</strong></li>
                        <li>Terceira foto, <strong>microscopia XPL (luz polarizada cruzada)</strong></li>
                    </ul>
                    <p>A segunda e terceira foto, por motivos de largura de banda, devem ser hospedada em sites terceiros, a exemplo do <a target="_blank" href="https://imgur.com/upload">Imgur</a></p></p>
                    <p>Após o upload, basta clicar com botao direito do mouse, selecionar "Copiar endereço da imagem", e colar o link no devido campo de preenchimento</p>
                    <h4>Propriedades Macroscopicas - Cores</h4>
                    <p>Se houver diversar manifestações de cores no mineral, especificar cada uma, as separando por vírgula, e a primeira letra de cada cor sempre maiúscula</p>
                    
                    <h4>Videos do youtube</h4>
                    <ul>
                        <li><strong>Link do canal</strong> - Para conseguir o link do canal basta copiar o link na barra de endereços</li>
                        <li><strong>ID da playlist</strong> - Quando acessar uma playlist (lista de reprodução), um link da seguinte forma irá aparecer <br>https://www.youtube.com/watch?v=Bs6OjMIrBOw&list=<strong>(ID DA PLAYLIST)</strong>, onde após list= está o ID da playlist que deve ser copiado</li>
                    </ul>
                </div>
            </div>
            <hr>
            
            <div class="text-center">
            <a target="_blank" href="/minerais/novo" class="btn btn-primary btn-lg">Adicione um novo mineral</a>
            </div>
    </div>  
</div>

<% include ../partials/footer.ejs %>