<% include ../partials/header.ejs %>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Deseja contribuir com o projeto?</h1><hr>
        <p>Você pode contribuir para o projeto ajudando a expandir o banco de dados, para adicionar um novo mineral basta seguir o guia abaixo </p>
        <a href="/contribuir/guia" class="btn btn-primary btn-lg"><i class="fas fa-book"></i> Guia Contribuição</a><hr>
        <p>Todo o web app é código aberto, se você possuir conhecimentos técnicos em programação, pode contribuir através do GitHub </p>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Jordhan-Carvalho/minid" class="btn btn-primary btn-lg"> <i class="fab fa-github-alt"></i> GitHub</a><hr>
        <p>Tem alguma ideia, dica ou sugestão para a melhoria do aplicativo?</p>
        <a class="btn btn-primary btn-lg" href="mailto:jordhan.rdz@gmail.com?Subject=Contato%20MinId" target="_top"><i class="fas fa-envelope"></i> Contato</a>
    </div>    
</div>

<% include ../partials/footer.ejs %>