<!DOCTYPE html>
<html>
    <head>
        <title>MinID</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    <div id="landing-header">
 		<h1>Bem-vindo à MinID!</h1>
		<a href="/minerais" class="btn btn-lg btn-primary"><i class="fas fa-gem"></i> Minerais</a>
		<a href="/contribuir" class="btn btn-lg btn-primary"><i class="fas fa-people-carry"></i> Contribuir</a><br>
		<a href="/identificar" class="btn btn-lg btn-primary"><i class="fas fa-search-plus"></i> Identificar</a>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>